* {
    box-sizing: border-box;
  }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, rgba(238, 174, 202, 1) 0%, rgb(182, 182, 107));
    font-family: 'Roboto', sans-serif;
  }

  .shopping-cart {
    width: 780px;
    height: fit-content;
    margin: 50px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 60px;
    border-bottom: 2px solid #FFE689;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 20px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }

  .item input{
    width: 20px;
  }
   
  .item:not(:first-child):not(:last-child) {
    border-top: 1px solid #FFE689;
    border-bottom: 1px solid #FFE689;
  }

  .item:last-child{
    border-bottom: 2px solid #FFE689;
    border-top: 1px solid #FFE689;
  }
  
  .buttons {
    position: relative;
    padding-top: 26px;
    left: 28px;
    width: fit-content;
    height: fit-content;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }

  .delete-btn {
    width: 18px;
    height: 17px;
    background: url("/img/close-svgrepo-com.svg") no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }

  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;
    width: 80px;
    /* margin-left: 16px; */
    position: relative;
    left: 40px;
    border-radius: 5px;
    overflow: hidden;
  }

  .product-img{
    width: 100%;
    height: 100%;
  }
   
  /* Let’s add some basic style to  product name and description. */
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
    margin-left: 12px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 56px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: -1px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .total-price {
    width: 100px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }

.plus-btn__img{
    width: 10px;
    height: 10px;
}

.minus-btn__img{
    width: 10px;
    height: 10px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  padding: 8px 0px;
  border-bottom: 1px solid #FFE689;
}

.nav-bar label{
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

.product_name{
  left: 130px;
}

.product_price{
  right: 38px;
}

.product_quantity{
  left: -4px;
}

.product_name_confirm_product{
left: 100px;
}

.product_price_confirm_product{
right: 150px;
}

.product_quantity_confirm_product{
left: -45px;
}

.confirm-section{
  border-top: 1px solid #FFE689;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.confirm-section__price{
  margin: auto;
  position: relative;
  padding: 10px 0;
}

.final-price{
  left: 64px;
  position: relative;
  padding-top: 10px;
}

.confirm-section__btn{
  margin: auto;
  position: relative;
  padding-bottom: 14px;
  width: 80%;
  height: 45px;
}

.checkout-button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FFE689;
  font-weight: 700;
  font-size: 16px;
}

.checkout-button:hover{
  background-color: #f4d154;
}

/* Accept Button */
.accept-button {
width: 45%; 
height: 30px; 
border-radius: 10px;
cursor: pointer;
background-color: #C8E6C9; 
color: #388E3C; 
font-weight: 700;
font-size: 16px;
border: none; 
transition: background-color 0.3s ease;
}

.accept-button:hover {
background-color: #A5D6A7; 
}
  
/* Decline Button */
.decline-button {
width: 45%; 
height: 30px; 
border-radius: 10px;
cursor: pointer;
background-color: #FFCDD2; 
color: #D32F2F; 
font-weight: 700;
font-size: 16px;
border: none; 
transition: background-color 0.3s ease;
}

.decline-button:hover {
background-color: #EF9A9A; 
}

.product_unit-price{
  left: 54px;
}

.product_unit-price_confirm_product{
    left: 20px;
}

.unit-price{
  position: relative;
  margin-left: -70px;
  padding-top: 27px;
}