<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgotPass.css">
    <title>Document</title>
</head>
<body>
    <main id="content" role="main" class="container">
        <div class="card">
            <div class="card-content">
                <div class="text-center">
                    <h1 class="title">Forgot password?</h1>
                    <p class="subtitle">
                        Remember your password?
                        <a class="link" href="">Login here</a>
                    </p>
                </div>

                <div class="form-container">
                    <form>
                        <div class="grid">
                            <div>
                                <label class="label">Email address</label>
                                <div class="input-container">
                                    <input type="email" id="email" name="email" class="input" required aria-describedby="email-error">
                                </div>
                                <p class="error-message" id="email-error">Please include a valid email address so we can get back to you</p>
                            </div>
                            <button type="submit" class="btn">Reset password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>