<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/profile.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="main-body">
                    <div class="main-card">
                    <div class="main-card__content">
                        <div class="avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="avatar-img" width="150">
                        </div>
                        <div class="main-card__infor">
                            <h4 class="user-name">Lê Tấn Đạt</h4>
                            <p class="current_address">District 5, Ho Chi Minh City, Viet Nam</p>
                            <div class="button">
                                <button class="button__purchased-history">View purchased history</button>
                                <!-- <button class="button__delete_acc--user">Xóa tài khoản</button> -->
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="second-card">
                        <div class="row">
                            <div class="label">
                                <h4>Name</h4>
                            </div>
                            <div class="display">
                                Lê Tấn Đạt
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="label">
                                <h4>Email</h4>
                            </div>
                            <div class="display">
                                abc@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="label">
                                <h4>Phone number</h4>
                            </div>
                            <div class="display">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="label">
                                <h4>Day of birth</h4>
                            </div>
                            <div class="display">
                                05 / 08 / 2004
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="label">
                                <h4>Gender</h4>
                            </div>
                            <div class="display">
                                ???
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="change-infor-btn-container">
                                <button class="change-infor">Update user information</button>
                            </div>
                        </div>
                        </div>
                    
                    
                </div>
                </div>
                
                

        </div>
    </div>
</body>
</html>